<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/DataContext.Model1.csdl|res://*/DataContext.Model1.ssdl|res://*/DataContext.Model1.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=BugNet;PASSWORD=password_1;PERSIST SECURITY INFO=True;USER ID=BugNet&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>